img {
  width: 250px;
  margin-top: 15px;
  border:dashed #8174A0 5px;
  transition: transform 1s ease-in-out 0.1s;
}
body {
  background-image: linear-gradient(#CDC1FF,#BFECFF,#FFCCEA,#FFF6E3);
}
h1 {
  text-align: center;
  font-family: "Borel", cursive;
}
p {
  text-align: justify;
  font-family: "Audiowide", sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin-right: 10px;
}
hr {
  border-color: #FF2E63;
}
li{
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
img:hover{
transform: scale(1.1);
}